<div class="container text-center bg-primary display-2">
    <button mat-button [matMenuTriggerFor]="aboveMenu">
      <mat-icon>home</mat-icon>Users</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item routerLink='/Users'>Users</button>
    </mat-menu>
    
  <button mat-button [matMenuTriggerFor]="beforeMenu">Details</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink='/Details'>Details</button>    
  </mat-menu>  
  </div>
  <div  class="text-center">
 </div>
  
